body{

    padding: 0px;
    margin: 0px;
    background-image: url("https://images.hdqwalls.com/download/vector-design-retro-4k-fh-1600x900.jpg");

    background-repeat: no-repeat;

}
.left{
    /* color: white;
    border: white 2px solid; */
    display: inline-block;
    position: absolute;
    top: 14px;
    left: 5px;

}

.left img{
    width: 50px;
    height: 50px;
    margin: 4px 15px;
    padding: 13px 13px;

}

h3{
    color: aliceblue;
    font-family: 'Montserrat', sans-serif;
    padding: 1px 20px;
    margin: -13px auto;
}

.mid{
    display: block;
    width: 40%;
    /* color: white;
    border: white 2px solid; */
    margin: 35px auto;

}

.right{
    /* color: white;
    border: white 2px solid; */
    display: inline-block;
    position: absolute;
    top: 14px;
    right: 5px;


}
.btn{
    
    border: none;
    border-radius: 10px;
    margin: 25px 7px;
    padding: 11px 21px;
    font-family: 'Ubuntu', sans-serif;
    /* width: 20%; */

}




#login{
    background-color: rgb(255, 1, 86);
    border: 2px solid black;

}

#signup{
    background-color: rgb(1, 183, 255);
    border: 2px solid black;
}

#login:hover{
    border: 2px solid black;
    transition:1s;
    border-radius:50px;
    background-color: rgb(241, 0, 0);

}
#signup:hover{
    border: 2px solid black;
    transition:1s;
    border-radius:50px;
    background-color: rgb(0, 255, 21);
    

}

.btn:hover{
    
    cursor: pointer;
    
    
    


}
.navbar{

    list-style: none;
    font-family: 'Ubuntu', sans-serif;

    


}

.navbar li{
    display: inline-block;
    padding: 14px 20px;
}

a{
    text-decoration: none;
}

.navbar li a{
    font-size: large;
    color: white;
    padding: 3px;
}

.navbar li a:hover{
    
    border: 2px solid rgb(255, 255, 255);
    border-radius: 5px;
    color: rgb(69, 255, 22);

}

.Tech{

    /* border: 2px solid black; */
    padding: 1px 1px;
    margin: 1px 1px;
    position: absolute;
    left: 200px;
    top: 19%;
    display: inline-block;
    width: 50%;


}

.Tech h1{
    color: white;
    font-size: 120px;
    text-shadow: 0 0 30px black;
    /* font-family: 'Raleway', sans-serif; */
    font-family: 'Acme', sans-serif;

}


.container {
    background-color: rgba(0, 0, 0, 0.219);
    position: absolute;
    right: 30px;
    top: 170px;
    border: 2px solid black;
    padding: 45px;
    border-radius: 40px;

}

.form-group input {
    font-family: 'Baloo Bhai', cursive;
    text-align: center;
    display: block;
    width: 300px;
    height: 30px;
    padding: 1px;
    border: 2px solid rgb(71, 10, 90);
    margin: 11px auto;
    font-size: 15px;
    border-radius: 8px;

}

.container h1 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    /* border: 3px red solid; */
    /* display: inline-block; */
    /* margin: auto; */
    padding: 3px 3px;
    font-size: 72px;
    color: aliceblue;
}

/* #btnlog1{

    padding: 3px 3px;
    margin: 3px 3px;


}

#btnlog2{

 padding: 3px 3px;
    margin: 3px 3px;
} */

.loginbuttons{

   position: relative;
   left: 70px;
   top: 15px;

}

.container:hover{

    background-color: rgba(255, 0, 0, 0.13);
    transition: 3s;
}

.container h3 :hover{

    color: floralwhite;
    text-shadow: 0 0 50px black;

}
